.container {
    display: flex;
    flex-direction: row;
}

.rod {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100px;
    height: 500px;
    background: black;
    margin: 100px;
}

.xlarge {
    width: 90px;
    height: 25px;
    background: red;
}

.large {
    width: 70px;
    height: 25px;
    background: blue;
}

.medium {
    width: 50px;
    height: 25px;
    background: yellow;
}

.small {
    width: 30px;
    height: 25px;
    background: orange;
}